.back-to-top {
    bottom: 40px;
    right: 40px;
    opacity: 0;
    scale: 0;
    transform: scale(1);
    position: fixed;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 46px;
    background-color: var(--blue-clr);
    color: #fff;
    border-radius: 6px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
    z-index: 9;
    transition: all .5s;
    cursor: pointer;
    /* scroll-behavior: smooth; */

    &:hover {
        bottom: 50px;
    } 
}
.back-to-top.active {
    bottom: 60px;
    opacity: 1;
    scale: 1;
    transition: all .5s;

    &:hover {
        bottom: 70px;
    }
}